<app-header title="Etapas" />

<div class="p-5 md:p-10 rounded-md">
  <div class="flex items-center justify-between mb-6">
    <div class="flex items-center gap-3">
      <div class="w-1 h-5 bg-blue-500"></div>
      <h1 class="font-semibold text-lg text-gray-700">Definição de relacionamentos</h1>
    </div>
    
    <p-button label="Salvar" icon="pi pi-check text-xs" severity="success" size="small" />
  </div>

  <div>
    <p-picklist [source]="sourceProducts" [target]="targetProducts" [dragdrop]="true" [responsive]="true" [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px">
        <ng-template let-item #item>
            {{ item.name }}
        </ng-template>
    </p-picklist>
  </div>

</div>