<app-header title="Ordens de serviço" />

<div class="p-5 md:p-10 rounded-md">
  <div class="flex items-center justify-between mb-6">
    <div class="flex items-center gap-3">
      <div class="w-1 h-5 bg-blue-500"></div>
      <h1 class="font-semibold text-lg text-gray-700">Ordens ativas</h1>
    </div>
    
    <div class="flex items-center gap-4">
      <p-button label="Filtrar" icon="pi pi-filter text-xs" size="small" severity="secondary" />
      <p-button label="Cadastrar" icon="pi pi-plus text-xs" size="small" severity="primary" />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="flex border bg-slate-50 rounded-md overflow-hidden">
      <div class="w-1 bg-blue-500"></div>
      <div class="p-6">
        a
      </div>
    </div>
  
    <div class="flex border bg-slate-50 rounded-md overflow-hidden">
      <div class="w-1 bg-blue-500"></div>
      <div class="p-6">
        a
      </div>
    </div>

    <div class="flex border bg-slate-50 rounded-md overflow-hidden">
      <div class="w-1 bg-blue-500"></div>
      <div class="p-6">
        a
      </div>
    </div>
  </div>
</div>